/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
app/Http/routes.php
*.php
app/Http/routes.php
resources/views/sistema/guardaproducto.blade.php
resources/views/sistema/altaproducto.blade.php
